<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<script src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<title></title>
	</head>

	<body>

		<div class="container">
			<div class="row">
				<center class="page-header">
					<h2>出错啦！</h2>
				</center>
				<div class="alert alert-success" role="alert">{{error_message}}</div>
				<center class="button">
					<button class="btn btn-success btn-lg" onclick="history.go(-1);	">
						确认
					</button>
				</center>
			</div>
		</div>
		<script type="text/javascript">
			$('.alert').slideDown('slow');
		</script>
	</body>
</html>