<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <style>
        html{
            background:url('/static/img/background.jpg') no-repeat center center;
            min-height:100%;
            background-size:cover;
        }
        body{
            min-height:100%;
        }

        .btn-in{
            background-color:rgba(255, 245, 62,100);
            border-color:rgba(255, 245, 62,100);
            width:300px;
            text-align:center;
        }
        center font{
            color: red;
            font-size: large;
        }
    </style>
    <title>全民经纪人</title>
</head>
<body>
<!--<div class="container">-->
    <!--&lt;!&ndash;<div id="background" style="position:absolute;z-index:-1;width:100%;height:100%;top:0px;left:0px;">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="/static/img/background.jpg" width="100%" height="100%"/>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<center style="position: relative;top: 80%"><button id="income" class="btn btn-default btn-in">立即进入</button></center>-->
    <!--<center style="position: relative;top: 81%"><button id="introduction" class="btn btn-default btn-in">查看详情</button></center>-->

<!--</div>-->
<script>
    $(function(){
       $('#income').click(function(){
           window.location.href="/agent/public_weixin_authorization_url/"
       })
        $('#introduction').click(function(){
            window.location.href="/agent/introduction/"
        })
    });
</script>
</body>
</html>