<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <style>
        .btn-in{
            background-color:rgba(255, 245, 62,100);
            border-color:rgba(255, 245, 62,100);
            width:300px;
            text-align:center;
        }
        center font{
            color: red;
            font-size: large;
        }
    </style>
    <title>全民经纪人</title>
</head>
<body>
<div id="container-fluid">
    <div id="background" style="position:fixed;z-index:-1;top:0px;left:0px;bottom: 0px;top: 0px;">
        <img src="/static/img/introduction.jpg" width="100%" height="100%;border:0;"/>
    </div>
</div>
<script>
    $(function(){
       $('button').click(function(){
           window.location.href="/update_profile/"
       })
    });
</script>
</body>
</html>